{{>sidebar}}

<div id="auto-complete-text">
    Start Typing Your Favorite Artist & Let Our Autocomplete Bar Finish It Off For You!
</div>
<div id="auto-complete-container">
    <input type="text" id="search" />
    <div id="choices"></div>
</div>
<div id="user-Id-container" style="display:none">
    <h2>User Id:</h2>
    <h2 id="user-Id">{{userId}}</h2>
</div>

<script src="/js/search.js"></script>
<link rel="stylesheet" href="/css/homepage.css">
<style>
    #auto-complete-text {
        padding-top: 100px;
        color: white;
        font-size: 30px;
        font-family: "Raleway", sans-serif;
    }
    .twelve {
        height: 95px;
        padding-top: 0px;
    }
    #search {
        font-size: 69px;
        font-family: "Raleway", sans-serif;
        height: 80px;
    }
    #choices {
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
        width: 50%;
    }
    #auto-complete-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        animation: fadeUp 2s ease 0s 1 normal forwards;
    }
    .auto-choice {
        font-family: "Raleway", sans-serif;
    }
    .auto-choice:hover {
        border-radius: 10px;
        background-color: white;
        color: black;
    }
    @keyframes fadeUp {
        0% {
            transform: translateY(300px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }



</style>